


.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px; 
  height: 100%;
  background-color: #001E1A; 
  box-shadow: -4px 0 15px rgba(0, 0, 0, 0.5);
  z-index: 20; 
  
  
  transform: translateX(100%); 
  
  transition: transform 0.4s ease-in-out; 
  
  display: flex;
  flex-direction: column;
}


.sidebar.open {
  transform: translateX(0);
}


.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); 
  z-index: 19;
}




.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 2px solid #004d26; 
}

.sidebar-title {
  color: #00ff80;
  font-size: 20px;
  font-weight: 900;
  text-shadow: 0 0 5px rgba(0, 255, 100, 0.5);
  margin: 0;
}

.close-btn {
  background: none;
  border: none;
  color: #00ff80;
  font-size: 30px;
  cursor: pointer;
}

.sidebar-content {
  flex-grow: 1; 
  padding: 20px;
  text-align: left;
}

.user-title {
    color: white;
    font-size: 18px;
    font-weight: 700;
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #004d26;
    text-align: center;
    margin-bottom: 20px;
}

.info-item {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px dashed #004d26;
}

.info-label {
    font-weight: 600;
    color: #00cc66;
}

.info-value {
    color: white;
    font-weight: 400;
}


.sidebar-footer {
  padding: 20px;
  text-align: center;
  border-top: 2px solid #004d26;
}

.logout-btn {
  background-color: #00cc66; 
  color: #001E1A; 
  font-weight: 700;
  border: none;
  border-radius: 4px;
  padding: 10px 40px;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
  max-width: 200px; 
}

.logout-btn:hover {
  background-color: #00ff80;
  transform: scale(1.05);
}


@media (max-width: 400px) {
  .sidebar {
    width: 80%;
  }
}